<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PyObsidian{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo">🟣 PyObsidian</div>
        <ul class="nav-links">
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('ver_notas') }}">Explorar Notas</a></li> <li><a href="{{ url_for('about') }}">Sobre el Proyecto</a></li>
        </ul>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2026 PyObsidian - Renderizando Conocimiento.</p>
    </footer>

</body>
</html>