{% extends "base.html" %}

{% block title %}Inicio - PyObsidian{% endblock %}

{% block content %}
    <header class="hero">
        <h1>Bienvenido a tu Cerebro Digital</h1>
        <p>Tu repositorio de conocimiento, servido con Python.</p>
    </header>

    <section class="status-card">
        <h3>Estado de la Bóveda</h3>
        <p>📂 Carpeta raíz: <strong>/home/usuario/obsidian_vault</strong></p>
        <p>🟢 Sistema: <strong>Online</strong></p>
    </section>
    <div style="margin-top: 2rem;">
    <a href="{{ url_for('crear_nota') }}" style="background-color: #9b59b6; color: white; padding: 10px 20px; text-decoration: none; border-radius: 5px; font-weight: bold; font-size: 1.1rem;">
        ➕ Crear Nueva Nota
    </a>
    </div>
{% endblock %}