{% extends "base.html" %}

{% block title %}Mis Notas - PyObsidian{% endblock %}

{% block content %}
    <h2>Archivos Recientes</h2>
    <div class="notes-grid">
        {% for nota in lista_notas %}
            <div class="note-card">
                <h3>📄 {{ nota.titulo }}</h3>

                <div class="note-content">
                    {{ nota.contenido_procesado | safe }}
                </div>

                <a href="{{ url_for('ver_nota_individual', id_nota=nota.id_documento) }}" class="button">Leer Nota</a>
            </div>
        {% else %}
            <p>No se encontraron notas en la bóveda.</p>
        {% endfor %}
    </div>
{% endblock %}