{% extends "base.html" %}

{% block title %}{{ nota.titulo }} - PyObsidian{% endblock %}

{% block content %}
    <article class="single-note-container">
        <a href="{{ url_for('ver_notas') }}" class="back-button">⬅ Volver a mis notas</a>
        
        <header class="note-header">
            <h2>{{ nota.titulo }}</h2>
            <p class="note-meta">ID de la bóveda: {{ nota.id_documento }}</p>
        </header>
        
        <div class="note-content full-page">
            {{ nota.contenido_procesado | safe }}
        </div>
    </article>
{% endblock %}